$primary-color: #b19d6f;

#market-wrapper {
	header {
		h1 {
			color: $primary-color;
		}
		.mbuttons {
			a {
				margin-left: 2px;
			}
		}
	}
}

.home-page-registration {
	#registration-title {
		color: $primary-color;
	}
	#main-registration-form {
		color: $primary-color;
	}

	#login-modal {
		form {
			color: $primary-color;
		}
		#myModalLabel {
			color: $primary-color !important;
		}
	}

	.main-page-text {
		margin-left: 5px;
		color: $primary-color;
	}
}
/*@media only screen and (max-width: 916px) and (min-width: 768px) {
	.collapse {
		display: none;
	}
}*/
$dashboard-color: #48cfad;
// hidden elements
#logo-upload-progressbar, #logo-upload-form {
	display: none; 
}
// hidden end
.dashboard-panels {
	margin: 25px -10px 0 -10px;
	.row {
		margin-right : -10px !important;
		margin-left : -10px !important;
	}
	#company-contacts {
		h3 {
			margin-bottom: 30px;
		}
		h4 {
			width: 100%;
			float: left;
		}
	}

	.sub-link {
		color: $dashboard-color;
		font-weight: bold;
	}
}
#edit {
	form {
		margin-bottom: 35px; 
	}
}
#sidebar {
	a:hover {
		cursor: pointer;
	}
}
