#market-wrapper header h1 {
  color: #b19d6f; }
#market-wrapper header .mbuttons a {
  margin-left: 2px; }

.home-page-registration #registration-title {
  color: #b19d6f; }
.home-page-registration #main-registration-form {
  color: #b19d6f; }
.home-page-registration #login-modal form {
  color: #b19d6f; }
.home-page-registration #login-modal #myModalLabel {
  color: #b19d6f !important; }
.home-page-registration .main-page-text {
  margin-left: 5px;
  color: #b19d6f; }

/*@media only screen and (max-width: 916px) and (min-width: 768px) {
	.collapse {
		display: none;
	}
}*/
#logo-upload-progressbar, #logo-upload-form {
  display: none; }

.dashboard-panels {
  margin: 25px -10px 0 -10px; }
  .dashboard-panels .row {
    margin-right: -10px !important;
    margin-left: -10px !important; }
  .dashboard-panels #company-contacts h3 {
    margin-bottom: 30px; }
  .dashboard-panels #company-contacts h4 {
    width: 100%;
    float: left; }
  .dashboard-panels .sub-link {
    color: #48cfad;
    font-weight: bold; }

#edit form {
  margin-bottom: 35px; }

#sidebar a:hover, .header a:hover {
  cursor: pointer; }
